.cursor-dot {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 20px;
    height: 20px;
    border: 20px solid #ee1171 ;
    background-color: #f7b3db;
    box-shadow: 0px 0px 300px 300px rgba(#85425f, 0.7);
    filter: blur(5px);
}