.project {
    position: relative;
    margin-bottom: 12vh;
    margin-bottom: calc(var(--vh, 1vh) * 12);
}

@media (max-width: 1280px){
    .project-link {
    position: relative;
    display: block;
    }
}

.project-card { 
    position: relative;
    width: 1088px;
    height: 612px;
    overflow: hidden;
    text-align: left;
    transform-origin: 50% 0;
    will-change: transform;
}
@media (max-width: 1440px) {
    .project-card {
        width: 960px;
        height: 540px;
    }
}

@media (max-width: 1280px) {
    .project-card {
        width: 100%;
    }
}

.project-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.35s ease-out;
}

.project-card img {
    position: absolute;
    left: 0;
    top: 0;
    will-change: opacity;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.project-card img:hover{
    -webkit-transform: skew(1deg);
    -moz-transform: skew(1deg);
    -o-transform: skew(1deg);
    -ms-transform: skew(1deg);
    transform: skew(1deg);
}

.project-detail {
    position: absolute;
    right: 0px;
    bottom: -60px;
    width: 360px;
    min-height: 136px;
    background-color: rgb(4, 4, 4);
    text-align: justify;
    transform-origin: 50% 0px;
    will-change: transform;
    padding: 50px 30px;
    color: white;
}

@media (max-width: 1440px) {
    .project-detail {
        width: 280px;
        min-height: 122px;
        padding: 40px 26px;
    }
}

@media (max-width: 1280px) {
.project-detail {
    right: auto;
    width: calc(100% - 60px);
    height: calc(100% - 70px);
    min-height: auto;
    left: 0;
    top: 0;
    bottom: auto;
    padding: 35px 30px;
    background-color: transparent;
    }
}

.project-detail svg {
    position: absolute;
    right: 30px;
    bottom: 34px;
    width: 1em;
    height: 1em;
    fill: rgb(255, 255, 255);
    transition: transform 0.25s ease-in-out 0s;
}

.project-detail-bold {
    position: relative;
    margin: 0 0 2.5em 0;
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: left;
    font-family: "GT-Sectra-Fine-Bold","Microsoft Yahei","微软雅黑", STXihei, "华文细黑", serif;
    font-weight: 700;
}

.project-detail-light {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 34px;
    padding-right: 2em;
    font-size: 0.7em;
    text-align: left;
    letter-spacing: 0.05em;
    font-family: "GT-Sectra-Fine-Bold","Microsoft Yahei","微软雅黑", STXihei, "华文细黑", serif;
    font-weight: 700;
}