.projects-root {
    max-width: 1500px;
    margin: 0 auto;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px
}


.projects-logo {
    display: flex;
    align-items: center;
}

.projects-logo img {
    width: 55.19px;
    height: 55.19px;
}

.projects-logo-link {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2.670588254928589px;
    text-align: left;
    color: #5571FF;
    margin-left: 13.15px;
}

.projects-logo-dap {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 2.670588254928589px;
    text-align: left;
    color: #5571FF;

}

.projects-contact-btn {
    width: 150px;
    height: 58px;
}

.projects-contact-btn button {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.projects-text {

    width: 765px;
    height: 131px;
    margin: 75px 0 0 70px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    text-align: left;
    
    color: #FFFFFF;
    
}

@media (max-width: 865px) {
    .projects-text {
        width: calc(100% - 100px);
    }
}

.projects-wrapper {
    position: relative;
    width: 84%;
    margin: 0 auto;
    margin-top: 200px;
}

@media (max-width: 1280px) {
    .projects-wrapper {
        width: 90%;
    }
}
